/* slider css */
.logos {
  overflow: hidden;
  width: 100%;
}
.logo_items {
  display: flex;
  gap: 20px;
  animation: slide 30s linear infinite;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
